#canvas
{
	/*width: 500px;
	height: 500px;
	margin-bottom: 20px;*/
	width: 100%;
	height: auto;
}

#canvas:hover {
	cursor: move;
}

.center {
	margin: 0 auto;
	display: block;
}

.footer {
    height: 50px;
    margin-top: 20px;
    background: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}

.col-left {
	margin-bottom: 20px;
}