body {
  font: 400 16px/1.5 "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
}

#canvas
{
	/*width: 500px;
	height: 500px;
	margin-bottom: 20px;*/
	width: 100%;
	height: auto;
}

#canvas:hover {
	cursor: move;
}

#scaleBar {
	margin-top: 20px;
	margin-bottom: 10px;
}

.center {
	margin: 0 auto;
	display: block;
}

.footer {
    height: 50px;
    margin-top: 20px;
    background: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}

.col-left {
	margin-bottom: 20px;
}

.meta-info {
	float: right;
	font-size: 10px;
	margin: 10px;
}
